@import url(reset.css);

#wrapper{
	min-width: 1127px;
	max-width: 1800px;
	border: 2px solid red;
}

#header{
	overflow: hidden;
	margin-bottom: 50px;
}

#header > div:not(:first-child){
	margin-top: 20px;
}

#logo{
	margin-left: 55px;
	height: 64px;
	width: 65px;
	float: left;
}

#logo img{
	height: 64px;
	width: 65px;
}



#menu{
	margin: 0 auto;
	width: 370px;
}

#menu div{
	float: left;
	margin-right: 32px;
	font: 15px sans-serif;		
}

#menu div a{
	color: black;
}










#pictures{
	float: right;
	width: 122px;
}

#pictures div{
	width: 22px;
	height: 22px;
	float: left;
	margin-right: 16px;
}



#pictures a img{
	width: 22px;
	height: 22px;
}

#content{
	background-color: #25adfa;
	height: 204px;
}

#content select{
	height: 70px;
	width: 343px;
	margin-top: 15px;
	margin-left: 14px;
	font-size: 19px;
	padding-left: 9px;
	padding-right: 5px;
} 

#content select:first-child{
	margin-left: 56px;
}


#tickets {
	border: 2px solid black;
	margin-left: 56px;
	margin-right: 10px;
	height: 300px;
	padding-top: 5px;
}

.example{
	margin-left: 55px; 
	border: 1px solid #d0d0d0;
	border-top: none;
	font: 12px sans-serif;
	width: 340px;
}

.example tr{
	height: 36px;	
}

td{
	padding-left: 30px;
}

.example tr:first-child td:last-child {
	padding-left: 0px;
}

.example tr td:first-child{
	width: 30px;
}


